.MainCon {

    position: relative;
}
.Con {

    width: 50px;
    height: 50px;
   
    display: flex;
    justify-content: center;
    align-items: center;  
     

}

.ProfileBtn {

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    background-color: skyblue;
    color:white;
    border-radius: 50%;
    width: 65%;
    height: 65%;
    padding:  4px;
    font-size: 13px;
    font-weight: 400;
}
.ActiveBtn {

    background-color: green;
    padding: 20px;
}

.Layer {
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 100%;
    width: 100%;
    z-index: 1;

    /* background-color: red; */
}
.LayerCon {
    
    background-color: rgba(27, 13, 13, 0.849);

    position: absolute;
    top: 80px;
    right: 6px;
    z-index: 2;

    width: 450px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;

}