.Con {

    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;

}
.AboutPhotoCon {
    width: 100%;
    height: 550px;
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
   
}
.AboutPhotoCon img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}
.Text {
    margin-top: -300px;
    position: absolute;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.Text div {
    font-size: 19px;
    font-weight: 700;
    word-spacing: 8px;
    letter-spacing: 3px;
    text-align: center;
    
}
.Text h1 {
    font-size: 130px;
    letter-spacing: 9px;
    font-weight: 1400;
    color: rgba(255, 217, 0, 0.792);
   
}

.desCon {

    width: 45%;
    height: 100%;
    display: flex;
    padding-left: 80px;
    padding-right: 10px;
    padding-top: 30px;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 50px;

    background-color: black;
    color: white;

}
.desCon h1 {
    font-size: 28px;
    font-weight: 900;
}

.btnCon button {
    background-color: black;
    color: white;
    padding: 7px;
    cursor: pointer;
}


.photoCon {

    width: 40%;
    height: 100%;
} 
.Con img {

    width: 100%;
    height: 100%;
}

@media( max-width : 700px) {

    .desCon {
        padding-left: 30px;
    }
    .AboutPhotoCon {
        height: 350px;
    }
    .Text {
        margin-top: 0;
    }
    .Text h1 {
        font-size: 80px;
    }
    .Text div {
        font-size: 18px;
        word-spacing: 4px;
    }

}

@media( max-width : 550px) {

  
    .Text h1 {
        font-size: 50px;
        letter-spacing: 4px;
    }
    .Text div {
        font-size: 17px;
        word-spacing: 3px;
        letter-spacing: 2px;
        color: gold;
    }

    .Con {
        height: 900px;
        flex-direction: column;
    }
    .desCon {
        padding: 30px;
        width: 100%;
    } 
    .photoCon {
        width: 100%;
    }

}

@media( max-width : 400px) {

    .Text div {
        font-size: 15px;
        word-spacing: 1px;
        letter-spacing: 2px;
    }

    .Con {
        height: 700px;
    }

    .desCon {
        font-size: 11px;
        font-weight: 700;
    }

}

