.Con {

   
    width: 100%;
    padding-top: 10px;
    padding-left: 2px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 60px;

    border-bottom: 0.05px solid rgba(255, 255, 255, 0.281);
    border-top: 0.005px solid rgba(255, 255, 255, 0.082);
        
}

.Li {

    list-style: none;
    padding: 5px 4px;
    /* background-color: #968885d8; */
    border-radius: 4px; 
   
   
}

.imgCon {
   
    width: 60px;
    height: 60px;
    border-radius: 10px;
    

}
.imgCon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.navLink {

    text-decoration: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;   
    font-size: 13px; 
    font-weight: 600;
    
    
}

.navLink:hover{ 
   
    border-bottom: 1px solid rgba(3, 109, 151, 0.713);
    color: blue;
}

@media( max-width : 600px ) {

    .Con {

        padding: 10px 5px;
 
    }
    .imgCon {
        width: 40px;
        height: 40px;
    }
    .Li {
        padding: 9px 0;
    }
    .navLink {
        padding: 9px 0;
        font-size: 12px;
        font-weight: 350;
       
    }

}

/* @media( max-width : 500px ) {

    .Con {

        flex-direction: column; 
    }

} */