.MainCon {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    padding: 5px 2px;
    margin: 0 auto;
}
.Con {

    width: 100%;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
}
.catagoryName {

    font-size: 16px;
    font-weight: 600;
}

.Con button {

    border: none;
    color: white;
    
    cursor: pointer;
    padding: 6px 20px;
    border: 1px solid rgba(227, 218, 218, 0.659);
    border-radius: 5px;
}
.Con button:hover {

    color: black;
    background-color: white;
}

@media( max-width : 700px ) {

    .Con {

        height: 100%;
        align-items: center;
        flex-direction: column;
    }

    .Con button {

        padding: 4px;
        margin: 2px;
        width: 75px;
        font-size: 12px;
    }
}
