.Con {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.348);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;

    
}