.Con {
   
    display: flex;
    justify-content: center;
    align-items: center ;
}
.CartCon {
    width: 60px;
    height: 60px;
   position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
   
}
.CartCon img {
    width: 30px;
    height: 30px;
}
.CartCon span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: rgba(245, 245, 245, 0.717);
    border: 1px solid gold;
    font-size: 11px;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 7px;
    top: 25px;
}
@media( max-width : 550px) {
    .CartCon {
        margin-top: 0;
    }
    .CartCon img {
        width: 45px;
        height: 45px;
    }
    .CartCon span {
        right: 0px;
    }
}